body {
	padding: 0px;
	margin: 0px;
	background-color: #02225F;
	font-family: Helvetica;
}

.content {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	background-color: #EEEEEE;
}

.topbar {
	background-color: #EEEEEE;
	height: 70px;
	font-size: 20px;
}

.top-picture {
	padding: 10px;
}

.topbar ul {
	height: 70px;
	font-size: 1.25em;
}

.topbar li {
	display: inline-block;
	margin-top: 25px;
}

a {
	text-decoration: none;
}

a:link {
    	color: #14171a;
	}

a:visited {
	color: #14171a;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline:hover:after {
	width: 100%;
	background: #14171a;
}

nav {
background-color: #FFFFFF;

}

nav ul {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	margin: 0px;	
}

.strong {
	display: inline;
	font-size: 1.5em;
	font-weight: 700;
}

.blank {
	color: #EEEEEE;
}

nav li {
	display: inline-block;
	font-size: .75em;
	vertical-align: middle;
	text-align: center;
}

.questionsAndAnswers {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}


.question-container {
	margin: 0 auto;
	font-size: 1.25em;
	margin-top: 40px;
	text-align: center;
}

.next-lesson {
	margin: 0 auto;
	font-size: 3em;
	margin-top: 40px;
	text-align: center;
}

.answers ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.answers li {
	margin-bottom: 40px;
	height: 70px;
	text-align: center;
	padding: 25px 50px;
	color: #EBFCFE;
	background-color: #509BD4;
	border: 3px solid #427497;
}

.option {
	cursor: pointer;
	position: relative;
}

.option img {
	max-width: 100%;
	max-height: 100%;
}

.topbar img {
	max-width: 100%;
	max-height: 100%;
}

.gray {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: not-allowed;
    z-index: -100;
}

.hidden {
	display: none;
}

.check {
	z-index: 100;
	position: absolute;
	bottom: 0;
	left: 40%;
	font-size: 5em;
	color: green;
	cursor: not-allowed;
}

.btn {
    font-size: .5em;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #5bb75b;
    color: #FFFFFF;
    margin-top: 35px;
}

.btn:hover {
	background-color: #0f3b14;
}

@media only screen and (min-width: 640px) {
	.answers {
		margin-top: 10%;
	}
}